extends layout

block content
  div.main
    h1= title
    hr
    p Welcome to #{title}
    p users 
    ol 
      li prakash jha 
      li Leesa ray 
      li Robin moore
    a(href='/') return to  home page